* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1170px;
  margin: auto;
}

@media (max-width: 1186px) {
  .container {
    max-width: 980px;
  }
}

@media (max-width: 950px) {
  .container {
    max-width: 720px;
  }
}

@media (max-width: 540px) {
  .container {
    max-width: 480px;
  }
}

.navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background: #e9e9e9 url("../img/NavBarBg.jpg") no-repeat center;
  -webkit-background-size: cover;
          background-size: cover;
  padding-bottom: 14px;
  display: block;
}

.navbar-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 25px;
  margin-top: 40px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.btn-nav {
  text-transform: uppercase;
  line-height: 24px;
  font-size: 12px;
  font-weight: 500;
  color: #191919;
  background-color: #e9e9e9;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  outline: none;
}

.btn-nav:hover {
  color: #10c9c3;
  outline: none;
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font: 1em sans-serif;
}

.hero {
  background: #e9e9e9;
  -webkit-background-size: cover;
          background-size: cover;
  padding-top: 80px;
  height: 640px;
  display: block;
}

.hero .first-span {
  padding-right: 25px;
  padding-top: 235px;
  max-width: 475px;
  float: right;
}

.hero .first-span .main-span {
  display: block;
  padding-bottom: 15px;
  margin-right: 25px;
  font-size: 38px;
  font-weight: 500;
  line-height: 48px;
}

.hero .first-span .second-span {
  display: block;
  text-align: left;
  padding-bottom: 40px;
}

.hero .first-span .contact-us {
  width: 180px;
  height: 55px;
  display: block;
  margin-left: 5px;
  padding: 23px 46px;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  color: #e9e9e9;
  background: #10c9c3;
  outline: none;
  border: none;
}

@media (max-width: 1186px) {
  .hero {
    width: 1186px;
  }
}

.hero2 {
  height: 420px;
  display: block;
  max-width: 620px;
  margin: auto;
}

.hero2 .about-us .about-header {
  display: block;
  text-align: center;
  margin-top: 100px;
  font-size: 30px;
  margin-bottom: 40px;
}

.hero2 .about-us .about-description {
  display: block;
  font-size: 16px;
  text-align: center;
  margin-bottom: 40px;
}

.hero2 .about-us .img-center {
  text-align: center;
}

.hero3 {
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #f8f9f9), color-stop(50%, #e9e9e9));
  background: -webkit-linear-gradient(left, #f8f9f9 50%, #e9e9e9 50%);
  background: -o-linear-gradient(left, #f8f9f9 50%, #e9e9e9 50%);
  background: linear-gradient(to right, #f8f9f9 50%, #e9e9e9 50%);
  -webkit-background-size: cover;
          background-size: cover;
  height: 530px;
}

.hero3 .design-raport {
  display: block;
  margin-top: 165px;
  min-width: 50%;
  height: 570px;
  float: left;
}

.hero3 .design-raport .main-span {
  font-size: 30px;
  font-weight: bold;
}

.hero3 .design-raport .div-progress {
  margin-top: 40px;
}

.hero3 .design-raport .design-text {
  display: block;
  font-size: 12px;
  font-weight: bold;
}

.hero3 .design-raport .bar {
  display: block;
  margin-top: 20px;
  width: 500px;
}

.hero3 .ur-photo {
  display: block;
  min-width: 50%;
  height: 570px;
  float: right;
}

.hero3 .ur-photo .photo {
  display: block;
  margin: 50%;
  color: #e9e9e9;
  width: 300px;
}

.hero4 {
  height: 240px;
  background: #10c9c3;
  color: #ffffff;
}

.hero4 .texts {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.hero4 .texts .text_img {
  display: block;
}

.hero4 .texts .text {
  display: block;
  padding-left: 10px;
}
