.hero
    background: #e9e9e9 url('../img/image_here.jpg') no-repeat center
    background-size: cover
    margin-top: 80px
    padding-bottom: 640px
    display: block
    .first-span
        margin-right: 25px
        padding-top: 235px
        max-width: 475px
        float: right
        .main-span
            display: block
            padding-bottom: 15px
            margin-right: 25px
            font-size: 38px
            font-weight: 500
            line-height: 48px
        .second-span
            display: block
            text-align: left
            padding-bottom: 40px
        .contact-us
            width: 180px
            height: 55px
            display: block
            margin-left: 5px
            padding: 23px 46px
            font-size: 12px;
            font-weight: 500;
            text-transform: uppercase;
            color: $btn-nav-bg-color
            background: $btn-nav-hover
            outline: none
            border: none
