.hero4
    height: 240px
    background: $btn_nav_hover
    color: #ffffff
        
    .texts
        width: 100%
        display: flex
        justify-content: space-between
        padding-top: 100px
        .text_img
            display: inline-block
        
        .text
            display: inline-block
            padding-left: 10px
            .num
                font-weight: bold

    @media ( max-width: 475px )
        .texts
            display: block
            padding-bottom: 30px
    
    @media ( max-width:  1190px)
        .texts
            padding-top: 50px