.hero5
    width: 100%
    display: block
    text-align: center

    .photos_line
        display: inline-flex
        .some_img
            width: 25%

    
    .btn_load
        background-color: $btn_nav_hover
        border: none
        width: 100%
        height: 50px
        color: #fff
        outline: none

        
            
            

