.navbar
    position: fixed
    left: 0
    top: 0
    width: 100%
    background: $btn-nav-bg-color
    padding-bottom: 14px
    display: block

    &-wrap
        display: flex
        align-items: center
        margin-top: 15px
        justify-content: space-between
.btn-nav
    text-transform: uppercase
    line-height: 24px
    font-size: 12px
    font-weight: 500
    color: $btn-nav-color
    background-color: $btn-nav-bg-color
    justify-content: space-around;
    outline: none
.btn-nav:hover
     color: $btn-nav-hover
     outline: none
.main-nav
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    background-color: transparent
    border: none
    border-right: 1px solid rgba($btn-nav-hover, 0.1)
    border-left: 1px solid rgba($btn-nav-hover, 0.1)
    height: 50px
    outline: none
    width: 70px
    
    .menu-btn-nav
        display: block
        height: 2px
        width: 20px
        margin: 2px 0
        background-color: $btn-nav-hover

.menu-btns
    background-color: $btn-nav-hover
    display: flex
    width: 100%
    visibility: hidden
    justify-content: space-around
    position: fixed
    left: 0
    top: 70px
    opacity: 0
    transition: visibility ease .6s, opacity ease 1s

    .menu-nav
        display: block
        .menu-link
            display: inline-block
            padding-right: 100px
            text-decoration: none
            color: $btn-nav-bg-color
            font-weight: bold
            padding-bottom: 10px
            margin-top: 10px 
        .last
            padding-right: 0
        @media ( max-width: 1150px )
            .menu-link
                display: block
                padding-right: 0
            
            




     